
    .bubble {
      background-color: #f4f0e052; 
      border-radius: 20px; 
      padding: 20px; 
      margin-bottom: 10px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      transition: transform 0.3s; 
    }

    .bubble:hover {
      transform: translateY(-5px); 
    }

    
    .header {
      background-color: #e8dacc; 
      color: #746c6c; 
      padding: 20px; 
      text-align: center; 
    }